<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row justify-content-md-center">
                        <h1 class="col-12 text-center">Cadastro de Usuário</h1>
                        <div class="form-group col-12">
                            <label for="nome">Nome</label>
                            <input formControlName="nome" type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Digite o seu nome">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="login">Login</label>
                            <input formControlName="login" type="text" class="form-control" id="login" aria-describedby="login" placeholder="Digite o seu login"> </div>
                        <div class="form-group col-md-6">
                            <label for="cpf">CPF</label>
                            <input formControlName="cpf" type="text" class="form-control" id="cpf" aria-describedby="cpf" placeholder="000.000.000-00">
                        </div>
                        <div class="form-group col-12">
                            <label for="email">E-mail</label>
                            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="nome@exemplo.com.br">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="senha">Senha</label>
                            <input formControlName="senha" type="password" class="form-control" id="senha" aria-describedby="senha" placeholder="Digite a sua senha"> </div>
                        <div class="form-group col-md-6">
                            <label for="confirmaSenha">Confirmação de Senha</label>
                            <input type="password" class="form-control" id="confirmaSenha" aria-describedby="confirmaSenha" placeholder="Digite novamente a sua senha">
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success btn-sm btn-block">Salvar</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-dark btn-sm btn-block">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>