/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0.5rem;
}

.btn {
    margin: 0.5rem 0;
}

label {
    margin-bottom: .1rem !important;
    font-weight: 300;
    font-size: smaller;
}

.bg-dark {
    opacity: 0.5;
}

.bg-dark:hover {
    opacity: 1;
}

.navbar-brand img {
    margin: 0 0.5rem;
}

.container-fluid {
    margin-top: 1rem;
}

.form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.31) !important;
}